<div class="page-wrapper">

  <div class="layout-wrapper">
    <div class="board-wrapper">
      <button
        class="show-btn"
        *ngIf="!settings?.isSettingsVisible"
        (click)="toggleSettings()"
        aria-label="Show settings"
      >⚙️
      </button>

      <div class="ultimate-container">
        <loading-popup></loading-popup>

        <div class="mat-grid-list">
          <div
            class="mini-board-container"
            *ngFor="let miniBoard of gameState.board; let big = index"
            [class.active]="(gameState.activeBoard === null || gameState.activeBoard === big) && !isBoardCompleted(big)"
            [class.completed]="isBoardCompleted(big)"
          >

            <div class="winner-overlay" *ngIf="getMiniBoardWinner(big) as winner" [ngClass]="{
              'winner-x': winner === 'X',
              'winner-o': winner === 'O'
            }">
              {{ winner }}
            </div>

            <div class="mini-board-grid">
              <div *ngFor="let row of [0,1,2]" class="row">
                <div class="cell" *ngFor="let col of [0,1,2]"
                     [class.occupied-o]="getCellContent(big, row, col) == 'O'"
                     [class.occupied-x]="getCellContent(big, row, col) == 'X'"
                     [class.disabled]="!(gameState.winner == null && gameState.board[big][row][col] === '' && (gameState.activeBoard === null || gameState.activeBoard === big) && !isBoardCompleted(big))"
                     [class.active-move]="gameState.winner == null && gameState.board[big][row][col] === '' && (gameState.activeBoard === null || gameState.activeBoard === big) && !isBoardCompleted(big)"
                     [class.big-win]="getMiniBoardWinner(big) === 'X' || getMiniBoardWinner(big) === 'O'"
                     (click)="makeMove(big, row, col)"
                >
                  {{ getCellContent(big, row, col) }}
                    <ng-container *ngIf="getMove(big, row, col) as move">
                      <div class="engine-data"
                           [class.best]="isBestMove(big, row, col)"
                           [class.bad]="move.score < (analysisResult?.evalThreshold ?? -10)">
                        <small>
                          <span class="eval" *ngIf="settings?.showEval"> {{ move.score | number:'1.2-2' }}</span><br>
                          <span class="visits" *ngIf="settings?.showVisits"> {{ move.visits }}</span>
                        </small>
                      </div>
                    </ng-container>
                </div>
              </div>
            </div>

          </div>

        </div>
        <app-game-over-dialog [winner]="gameState.winner" (restart)="clearBoard()"></app-game-over-dialog>
      </div>
  </div>

    <right-side-panel (clearBoard) = "clearBoard()"></right-side-panel>

</div>
