@media (max-width: 1200px) {
  .eval-chart-container {
    display: none;
  }
}
.eval-chart-container {
  padding: 8px 8px;
  padding-bottom: 4px;
  height: 220px;
  //background: linear-gradient(90deg, #faf9f6, #e5e1d8);
  background-color: #fff;
  //box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  border-top: lightgray 1px solid;
  //border-bottom: lightgray 1px solid;
}

.eval-chart-container canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 180px;
}
