<div class="settings-panel" [class.collapsed]="!settings.isSettingsVisible"
     [class.moves-tab-active]="activeTab === 'moves'">

  <top-eval-panel></top-eval-panel>


  <!-- Moves Tab Content -->
  <div class="moves-container" *ngIf="activeTab === 'moves'">
    <div class="table-scroll-wrapper">
      <table class="flat-moves-table">
        <tbody>
        <tr *ngFor="let i of maxMovesArray(); let idx = index">
          <td class="move-number"><strong>{{ idx + 1 }}.</strong></td>
          <td
            class="move-cell cross"
            *ngIf="player1Moves[idx]; else emptyCell"
            [ngClass]="{ 'current-move-cell': isCurrentMove(true, idx) }"
            [attr.tabindex]="isCurrentMove(true, idx) ? -1 : 0"
            (click)="!isCurrentMove(true, idx) && onMoveClick(idx, 'player1')"
          >
            <span
              class="coord"
              [ngClass]="{ bold: isCurrentMove(true, idx) }"
              (click)="!isCurrentMove(true, idx) && onMoveClick(idx, 'player1')"
            >
              {{ player1Moves[idx] }}
            </span>
          </td>
          <td
            class="move-cell circle"
            *ngIf="player2Moves[idx]; else emptyCell"
            [ngClass]="{ 'current-move-cell': isCurrentMove(false, idx) }"
            [attr.tabindex]="isCurrentMove(false, idx) ? -1 : 0"
            (click)="!isCurrentMove(false, idx) && onMoveClick(idx, 'player2')"
          >
            <span
              class="coord"
              [ngClass]="{ bold: isCurrentMove(false, idx) }"
              (click)="!isCurrentMove(false, idx) && onMoveClick(idx, 'player2')"
            >
              {{ player2Moves[idx] }}
            </span>
          </td>
        </tr>
        </tbody>
      </table>

      <ng-template #emptyCell>
        <td class="move-cell"></td>
      </ng-template>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="lower-panel" *ngIf="activeTab === 'moves'">
      <chart-panel></chart-panel>

      <div class="button-row">

        <button (click)="onGoToStart()" class="change-move-btn"
                aria-label="Undo-Start" [disabled]="currentMove <= 0">
          <i class="bi bi-skip-start-fill"></i>
        </button>

        <button matTooltip="You can also press left arrow to undo last move." (click)="onUndo()" class="change-move-btn"
                aria-label="Undo" [disabled]="currentMove <= 0">
          <i class="bi bi-chevron-left"></i>
        </button>

        <button matTooltip="You can also press 'n' to start new game." (click)="onClearBoard()" class="clear-btn"
                aria-label="New game">
          New game
        </button>

        <button matTooltip="You can also press right arrow to go to next move." (click)="onNext()"
                class="change-move-btn"
                aria-label="Next" [disabled]="currentMove + 1 > moves.length">
          <i class="bi bi-chevron-right"></i>
        </button>

        <button (click)="onGoToEnd()" class="change-move-btn"
                aria-label="Next-End" [disabled]="currentMove + 1 > moves.length">
          <i class="bi bi-skip-end-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
