html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;  /* allow vertical scroll, prevent horizontal */
  display: flex;
  flex-direction: column;
}

app-footer {
  margin-top: auto;
}

.layout-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Fills all space except footer */
.layout-content,
.page-wrapper {
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto; /* if content overflows */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout-wrapper.popup-active .board-wrapper {
  pointer-events: none; /* disable board clicks */
}

.layout-wrapper.popup-active .settings-panel {
  pointer-events: auto; /* allow settings clicks */
  z-index: 1100; /* higher than overlay */
}

.layout-wrapper.popup-active app-game-over-dialog {
  pointer-events: auto; /* allow popup clicks */
  z-index: 1200;
}

.app-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
